body, button, input, select, textarea {
  font-family: Rubik;
}

/* customize button */
/* add is-round in main button */
.button {
  border-radius: 18px;
  padding-left: 1em;
  padding-right: 1em;
}

.dropdown-content {
  border-radius: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.input {
  border-radius: 18px;
  padding-left: 1em;
  padding-right: 1em;
}

.field.has-addons .control:first-child .control .input {
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
}