// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #DF503E;
// $primary: #1B5782;
$primary-invert: findColorInvert($primary);
$danger: #DF503E;
$danger-invert: findColorInvert($danger);
$success: #61E893;
$success-invert: findColorInvert($success);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// $tablet: 425px + (2 * $gap);

// web container
// $fullhd: 1152px;

// dropdown
// $dropdown-content-radius: 4px;
// $dropdown-content-offset: 10px;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";;
